
.nav-item{
    padding:2px;
    margin-left: 7px;
}
.hmenu-item{
color: white;
}
.form-control{
    margin-left: 800px;
    margin-right: -750px;
}.navbar-brand{color: white;}
.navbar{
    background-color: #041e42;
}
.panel-title{
    text-align: center;
    color: black;
    font-size: 20px;
}
.panel-title:hover{
    color: #f65275;
}
.list-group-item{
    color: black;
}

.card{
    margin-left: 50px;
    margin-top: 30px;
}