
  
  .col-sm-2{
      background-color:lightgray;
     height: 100%;
     overflow: hidden;
      text-align: center;
     padding-top: 30px;
  }
  .Details{
margin-left: 9px;
margin-top: 25px;
  }
  
  .btn-primary{
    margin-top: 25px;
  }
  .h5{
    margin-top: 22px;
  }
  .modal-header{
    background-color: #dc3545;
    color:white;
  }
  .btn-white{
    border-color: red;
    color:red;
  }
  .update{
margin-top: 5px;
  }
.modal-footer{
  margin-right: 135px;
  
  color:white;
}